<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Кулинарная книга {% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/pages/index.css' %}">
    <link rel="stylesheet" href="{%static 'css/pages/form.css' %}">
</head>

<body class="body">
    
    {% include 'header.html' %}    

    <main class="main container">
        
        {% block content %}
            <!-- page content -->
        {% endblock %}

    </main>

    {% include 'footer.html' %}

</body>
</html>
