{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">Рецепты</h1>

    {% if tags %}

        <ul class="tags">

            {% for tag in tags %}

                <li class="tags__item">
                    <a id="breakfast" class="tags__checkbox {{ tag.checkbox_class }} tags__checkbox_active" href="#"></a>
                    <span class="tags__label">{{ tag.name }}</span>
                </li>

            {% endfor %}    

        </ul>

    {% endif %}    

</div>
<div class="card-list">

    {% for recipe in recipes %}

        <div class="card" data-id="120">
            <a href="#" class="link" target="_blank">

                {% load thumbnail %}
                {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
                    <img class="card-img" src="{{ im.url }}" class="card__image" alt="">
                {% endthumbnail %}
                
            </a>
            <div class="card__body">
                <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>

                {% if recipe.tags %}

                    <ul class="card__items">
                    
                        {% for tag in recipe.tags.all %}

                            <li class="card__item"><span class="badge {{ tag.badge_class }}">{{ tag.name }}</span></li>

                        {% endfor %}
                    
                    </ul>    
                    
                {% endif %}    

                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span>{{ recipe.time }}</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                
                {% if user.is_authenticated %}
        
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>

                {% endif %}

            </div>
        </div>
    
    {% endfor %}    
</div>

{% load static %}
{% if user.is_authenticated %}

    <script src="{%static 'js/components/MainCards.js' %}"></script>
    <script src="{%static 'js/components/Purchases.js' %}"></script>
    <script src="{%static 'js/components/Favorites.js' %}"></script>
    <script src="{%static 'js/config/config.js' %}"></script>
    <script src="{%static 'js/components/CardList.js' %}"></script>
    <script src="{%static 'js/components/Header.js' %}"></script>
    <script src="{%static 'js/api/Api.js' %}"></script>
    <script src="{%static 'js/indexAuth.js' %}"></script>

{% else %}

    <script src="{%static 'js/components/MainCards.js' %}"></script>
    <script src="{%static 'js/components/Purchases.js' %}"></script>
    <script src="{%static 'js/config/config.js' %}"></script>
    <script src="{%static 'js/components/CardList.js' %}"></script>
    <script src="{%static 'js/components/Header.js' %}"></script>
    <script src="{%static 'js//api/Api.js' %}"></script>
    <script src="{%static 'js/indexNotAuth.js' %}"></script>

{% endif %}


{% endblock %}