{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}
{% load user_filters %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">Рецепты</h1>

    <ul class="tags">
        <li class="tags__item">
            <a 
                id="breakfast" 
                class="tags__checkbox tags__checkbox_style_orange {% if request.get_full_path == '/?tag=breakfast' %}tags__checkbox_active{% endif %}" 
                href="{% url 'index' %}?tag=breakfast">
            </a>
            <span class="tags__label">Завтрак</span>
        </li>
        <li class="tags__item">
            <a 
                id="lunch" 
                class="tags__checkbox tags__checkbox_style_green {% if request.get_full_path == '/?tag=lunch' %}tags__checkbox_active{% endif %}" 
                href="{% url 'index' %}?tag=lunch">
            </a>
            <span for="lunch" class="tags__label">Обед</span>
        </li>
        <li class="tags__item">
            <a 
                id="dinner" 
                class="tags__checkbox tags__checkbox_style_purple {% if request.get_full_path == '/?tag=dinner' %}tags__checkbox_active{% endif %}" 
                href="{% url 'index' %}?tag=dinner">
            </a>
            <label for="dinner" class="tags__label">Ужин</label>
        </li>
    </ul>    

</div>
<div class="card-list">

    {% for recipe in page %}  
        <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe_detail' recipe.slug %}" class="link" target="_blank">

                {% if recipe.image %}
                    {% load thumbnail %}
                    {% thumbnail recipe.image "361x240" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" class="card__image" alt="">
                    {% endthumbnail %}
                {% else %}  
                    <!-- default image -->
                    <img src="{%static 'img/testCardImg.png' %}" class="card__image" alt="">
                {% endif %}
                
            </a>
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_detail' recipe.slug %}" target="_blank">{{ recipe.name }}</a>

                {% if recipe.tags %}
                    <ul class="card__items">                   
                        {% for tag in recipe.tags.all %}
                            <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                        {% endfor %}                   
                    </ul>                       
                {% endif %}    

                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.time }}</p>
                    <p class="card__text">
                        <span class="icon-user"></span> 
                        <a href="{% url 'profile' recipe.author %}" style="color: black">{{ recipe.author }}</a>
                    </p>
                </div>
            </div>
            <div class="card__footer">
                
                {% if user.is_authenticated %}
                    {% if recipe|isPurchase:request.user %}
                        <button class="button button_style_light-blue" name="purchases">
                            <span class="icon-check button__icon"></span>Рецепт добавлен
                        </button>
                    {% else %}
                        <button class="button button_style_light-blue" name="purchases" data-out>
                            <span class="icon-plus button__icon"></span>Добавить в покупки
                        </button>
                    {% endif %}
                {% endif %}
                
                {% if user.is_authenticated %}
                    {% if recipe|isFavorite:request.user %}
                        <button class="button button_style_none" name="favorites">
                            <span class="icon-favorite icon-favorite_active"></span>
                        </button>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out>
                            <span class="icon-favorite"></span>
                        </button>
                    {% endif %}
                {% endif %}

            </div>
        </div>   
    {% endfor %} 
    
</div>

{% include "includes/paginator.html" %}

{% endblock %}


{% block scripts %}

<script src="{%static 'js/components/MainCards.js' %}"></script>
<script src="{%static 'js/components/Purchases.js' %}"></script>
<script src="{%static 'js/components/Favorites.js' %}"></script>
<script src="{%static 'js/config/config.js' %}"></script>
<script src="{%static 'js/components/CardList.js' %}"></script>
<script src="{%static 'js/components/Header.js' %}"></script>
<script src="{%static 'js/api/Api.js' %}"></script>

{% if user.is_authenticated %}        
    <script src="{%static 'js/indexAuth.js' %}"></script>
{% else %}
    <script src="{%static 'js/indexNotAuth.js' %}"></script>
{% endif %}
    
{% endblock %}