{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pages/single.css' %}">
{% endblock %}
{% block content %}

<div class="single-card">

    <img src="/static/img/{{ image }}" class="single-card__image" style="height: auto;" alt="">

    <div class="single-card__info">
        <div class="single-card__header-info">
            <h1 class="single-card__title">{{ title }}</h1>
        </div>

        {% if author %}

            <div class="single-card__items single-card__items_column">
                <ul class="single-card__items">
                    <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {{ author.name }}</p></li>
                    <li class="single-card__item">  <a style="margin-left: 2.5em" href="{{ author.github_url }}" class="single-card__text">Профиль на GitHub</a></li>
                </ul>
            </div>
        
        {% endif %}    

        <div class="single-card__section">
            <h3 class="single-card__section-title">{{ list_name }}</h3>
            <ul>

                {% for string in list %}

                    <li>{{ string }}</li>

                {% endfor %}    

            </ul>
        </div>
    </div>
</div>

{% endblock %}